@import "tailwindcss";

:root {
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand: #f58846;
  --color-brand-dark: #dd7434;
  --color-brand-light: #ffd9bf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}
body {
  background: #fff;
  color: #111;
}
